/* Style */

:root {
	--blue: #245feb;
	--lightblue: #4fe2f3;
	--blue-rgb: 36, 95, 235;
	--lightblue-rgb: 79, 226, 243;
	--grey-100: #1a1b20;
	--grey-150: #15161a;
	--grey-170: #1f2328;
	--grey-555: #555e65;
	--black: #000;
	--black-off: #0b0b0d;
	--white: #fff;
	--bluetext: #158fe6;
	--green: #7bf529;
	--red: #f02745;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--module-width: 270px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

@-ms-viewport {
	width: device-width;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
	line-height: 1.5;
	background: var(--black);
	color: var(--grey-555);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
	text-decoration: none;
}

h1, a {
	color: var(--bluetext);
}

h1 {
	margin-top: 0;
}

h2, h3, h4 {
	color: var(--white);
}

h4 {
    font-size: 1rem;
}


h1, h2, h3, h4, em {
	font-style: italic;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}






.module {
	background: linear-gradient(to bottom, var(--grey-150) 0%, var(--black) 100%);
	padding: 15px;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	border-top: 1px solid var(--grey-170);
	min-height: 150px;
}

.module.shadow::before {
	position: absolute;
	z-index: 2;
	content: "";
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 90%;
	box-shadow: 0 1px 20px var(--grey-100);
}

.module.shadow.blue {
	border-top: 1px solid rgba(var(--blue-rgb), .6);
}
.module.shadow.blue::before {
	background: var(--blue);
	box-shadow: 0px 6px 2px var(--white), 0 8px 1px var(--blue), 0 1px 20px var(--grey-100);
}

.module.shadow.lightblue {
	border-top: 1px solid rgba(var(--lightblue-rgb), .6);
}
.module.shadow.lightblue::before {
	background: var(--lightblue);
	box-shadow: 0px 6px 2px var(--white), 0 8px 1px var(--lightblue), 0 1px 20px var(--grey-100);
}

.module h4 {
	margin-top: 0;
	text-transform: uppercase;
}


.top-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.top-left a {
	display: inline-block;
	margin: 0 7px;
	font-size: 0.7rem;
	color: var(--grey-555);
}
.top-left a:first-child {
	margin-left: 0;
}
.social-icon svg {
	width: 25px;
	height: 25px;
	transition: color .2s ease-in-out;
}


.header {
	position: relative;
	width: 100%;
	background: linear-gradient(to right, var(--blue) 0%, var(--lightblue) 50%, var(--blue) 100%);
	border-radius: 8px;
	box-shadow: 0px 0px 20px -1px var(--blue);
	border: 1px solid transparent;
	animation: slide 8s linear infinite, pulsate 16s ease-out infinite;
	background-position: 0;
}
.header-inner {
	min-height: 200px;
	padding: 30px 40px;
	background: var(--grey-100);
	border-radius: 8px;
}
.logo img {
	width: 60px;
	margin-bottom: 15px;
}

@keyframes slide {
    from {
        background-position: 0;
    }
    to {
        background-position: 1140px;
    }
}
@keyframes pulsate {
    0%   {
		box-shadow: 0px 0px 20px -1px var(--blue);
	}
    50%  {
		box-shadow: 0px 0px 25px -1px var(--blue);
	}
    100% {
		box-shadow: 0px 0px 20px -1px var(--blue);
	}
}

@keyframes fadeIn {
    from {
		opacity: 0;
		transform: translateY(-15px);
	}
    to {
		opacity: 1;
		transform: translateY(0);
	}
}


.menu {
	list-style: none;
	padding-left: 0;
}
.menu {
	position: relative;
	display: flex;
}
.menu::after {
	position: absolute;
	right: 0;
	bottom: -40px;
	left: 0;
	display: block;
	margin-left: -40px;
	margin-right: -40px;
	content: "";
	border-top: 1px solid var(--grey-170);
	border-radius: 8px;
	height: 40px;
	background: linear-gradient(to bottom, var(--black) 0%, var(--grey-100) 100%);
}
.menu li {
	position: relative;
	margin-right: 45px;
}
.menu a {
	display: inline-block;
	padding: 5px;
	font-size: 1.2rem;
	color: var(--grey-555);
	text-transform: uppercase;
	transition: color .2s ease-in-out;
}
.menu a:hover,
.menu a:focus {
	color: var(--bluetext);
	transition: color .2s ease-in-out;
}

.menu .dropdown {
	display: none;
	position: absolute;
	left: 0;
	z-index: 2;
	width: 250px;
	padding: 10px;
	background: var(--black-off);
	border-radius: 8px;
	border: 1px solid var(--grey-170);
}
.dropdown:hover,
.menu a:hover + .dropdown,
.menu a:focus + .dropdown {
	display: block;
	animation: fadeIn .2s;
}
.menu .dropdown ul {
   padding-left: 15px;
   list-style: none;
}
.menu .dropdown li {
   margin-right: 0;
}
.menu .dropdown li:before {
   content: '';
   position: absolute;
   border-right: 2px solid var(--bluetext);
   border-bottom: 2px solid var(--bluetext);
   width: 8px;
   height: 8px;
   top: calc(50% - 4px);
   left: -15px;
   margin-top: 4px;
   transform: translateY(-50%) rotate(-45deg);
}
.menu .dropdown a {
	font-size: 1rem;
}


.badge {
	position: absolute;
	top: 9px;
	right: -18px;
	width: 75px;
	z-index: 1;
	height: 0;
	transform: rotate(45deg);
	color: var(--white);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	text-align: center;
}
.badge.badge-blue {
	border-bottom: 20px solid var(--bluetext);
	background: var(--bluetext);
}
.badge.badge-lightblue {
	color: var(--black-off);
	border-bottom: 20px solid var(--lightblue);
	background: var(--lightblue);
}
.badge.badge-green {
	color: var(--black-off);
	border-bottom: 20px solid var(--green);
	background: var(--green);
}
.badge.badge-red {
	border-bottom: 20px solid var(--red);
	background: var(--red);
}







.banner img {
    border-radius: 8px;
}
.banner .module {
	background: linear-gradient(to bottom, var(--grey-150) 0%, var(--black-off) 100%);
}


.submenu a {
	position: relative;
	display: block;
	padding: 5px 8px;
	margin-bottom: 10px;
	background: var(--black-off);
	color: var(--grey-555);
	border: 1px solid var(--black);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: inset 0 1px 4px var(--black);
}
.submenu a::before {
	position: absolute;
	z-index: 0;
	content: "";
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 90%;
	box-shadow: 0 3px 20px var(--white);
	transition: box-shadow .2s ease-in-out;
}
.submenu a:hover::before,
.submenu a:focus::before {
	box-shadow: 0 5px 25px var(--blue);
	transition: box-shadow .2s ease-in-out;
}






.site-grid {
	display: grid;
	grid-template-areas:
		". top top top top ."
		". head head head head ."
		". banner banner banner banner ."
		". main-top main-top main-top main-top ."
		". main main main main ."
		". main-bot main-bot main-bot main-bot ."
		". footer footer footer footer .";
	grid-template-columns: [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, var(--module-width))) [main-end] minmax(0, 1fr) [full-end];
	grid-gap: 15px;
}
.site-grid .container-main-top,
.site-grid .container-banner,
.site-grid .container-main,
.site-grid .container-main-bottom {
	display: grid;
	grid-gap: 15px;
}

.container-top {
	grid-area: top;
}

.container-header {
	grid-area: head;
}

.container-banner {
	grid-area: banner;
}

.container-main-top {
	grid-area: main-top;
}

.container-main {
	grid-area: main;
}

.container-main-bottom {
	grid-area: main-bot;
}

.container-footer {
	grid-area: footer;
}

.site-grid .container-header {
	margin-bottom: 15px;
}

.container-main-top,
.container-main-bottom {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-banner {
	grid-template-columns: auto var(--module-width);
}

.container-main {
	grid-template-columns: var(--module-width) auto var(--module-width);
}


@media (max-width: 768px) {
	.container-main-top,
	.container-main-bottom {
		grid-template-columns: 1fr 1fr;
	}
	.container-banner {
		grid-template-columns: 1fr;
	}
	.container-main {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 576px) {
	.container-main-top,
	.container-main-bottom {
		grid-template-columns: 1fr;
	}
}


.sidebar-left > div,
.sidebar-right > div {
	margin-bottom: 15px;
}


.footer {
	width: 100%;
	padding: 40px 0;
}

.footer p {
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}
