/* Topbar */

.top-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.top-left a {
	display: inline-block;
	margin: 0 7px;
	font-size: 0.7rem;
	color: var(--grey-555);
}
.top-left a:first-child {
	margin-left: 0;
}
.social-icon svg {
	width: 25px;
	height: 25px;
	transition: color .2s ease-in-out;
}
